*, *::before, *::after {
    box-sizing: border-box;
}

/* Global variables */
:root {
    --margin: 0px;

    --columns: 2;

    --photo-width: 400px;
    --photo-height: 250px;
    --gap: 1px;

    --max-width: calc(
        (var(--photo-width) + var(--gap)) * var(--columns) + var(--margin)
    );
}

/* Define page-wrapper width, so that flexbox is able to apply centering */
body {
    margin: var(--margin);
    display: flex;
    justify-content: center;
}
.page-wrapper {
    width: var(--max-width);
}

/* Grid classes for styling */
.grid-container {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: var(--photo-height);
}
.grid-container > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.grid-2-columns {
    grid-column: span 2;
}
.grid-2-rows {
    grid-row: span 2;
}
.grid-text {
    background-color: black;
    color: white;
    overflow-wrap: break-word;
}